.endgrid {
    width: 100%;
    padding: 0px;
}

.end_section > * {
    pointer-events: auto;
}

.share_buttons {
  padding: 10px !important;
}
.end_section {
    height: 80vh;
    width: 100%;
    z-index: 10;
    top: 50%;
    transform: translate(0, -50%);

    text-align: left;
    pointer-events: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.end_section h1 {
    font-family: "larken", sans-serif;

}
.download_button {
    padding: 5%;
    margin: 10px;
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(202, 202, 202);
    font-size: 15pt;
    color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}




.download_button:hover {
    background-color: rgb(161, 189, 196);
}

.dropdown-item:hover .download-hover-section{
    visibility: visible;
}

.keepOpen {
    display:block;
}
.dropdown-item {
    position: relative;
}

.download-modal-body img{
    width: 100%;
    border: solid 1px var(--grey);
    margin-bottom: 20px;
}

.download-modal-body h2 {
    font-weight: 100;
    text-align: left !important;
}

.download-hover-section {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5;
    width: 100%;
    height: 100%;
    visibility: visible;
}
.dropdown-item:hover .download-hover-section{
    visibility: visible;
}

.download-click-section {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5;
    width: 100%;
    height: 100%;
    /*visibility: hidden;*/
    display: none;
}

.share_hider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(129, 129, 129, 0.766);
  text-align: center;
  color:red;
  font-weight: 800;
  font-size: 20pt;
  vertical-align: middle;
}

.download-click-section .row {
    background-color: rgba(0, 0, 0, 0.7);
    height: 50%;
}

.download-click-section .vertical-row {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100% !important;
}

.download-row{
    margin: 0%;
}


.readButton {
  
  padding: 20px;
  border-radius: 20px;
  border: solid 1px var(--border_grey);
  height: 100%;
  background-color: white;
  cursor: pointer;

}

.readButton a {
  color: black
}
.readButton:hover{
  border: solid 1px var(--hover_blue);
}

.readButton:hover a {
  color: var(--hover_blue)
}
.download-row .col {
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    font-weight: 800;
    padding: 5px;
    text-decoration: none;
    color: black;

}


.download-row .col:hover{
    background-color: rgba(255, 255, 255, 0.139);
    cursor: pointer;
}


.download-hover-section .row {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50%;
}


.download-hover-section .col {
    border: solid 1px white;
}

.download-dropdown .dropdown-item img {
    /*border: solid 1px var(--grey);*/
    margin-bottom: 10px;
}

.paper_section{
    height: 100%;
    width: 100px;
}



.paper_section img{
    width: auto;
    height: 100%;
}



.papergrid .column {
}

.poster-download-section {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.516);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: inherit
}

@media only screen and (max-width: 768px)  {
  .endgrid .poster-download {
    height: 50%;
    width: auto;
  }
  .poster-download-container {
    width: 100%;
    text-align: center;

  }
  .endgrid .poster-download img{
    height: 100%;
    width: auto;
  }

  .end_section {
    padding: 0%;
  }
  .readButton h2 {
    font-size: 10pt;
    margin: 0%;
  }
  .readButton a {
    font-size: 10pt;
  }
  .readButton {
    padding: 5px;
    border-radius: 0;
  }
  .readButton .ui.divider {
    margin: 0% !important;
  }
}

.poster-download:hover .poster-download-section{
    visibility: visible;
}


.poster-download img {
  width: 100%;
  display: block;
}


.poster-download {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: block;
    padding: 20px;

}


.half {
    height: 50%;
    width: 100%;
}


.third_col {
  width: 33.33%;
  height: 100%;
  display: inline-block;
}
.two_third_col {
  width: 66.66%;
  height: 100%;
  display: inline-block;

}



.test {
  border: 1px solid black;
}
.test img {
  width: 100%;
  border: 1px solid red;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  display: block;
}

.poster-download-container {
  position: relative;
  border: 1px solid var(--border_grey);
}


@media only screen and (max-width: 728px)  {
  .third_col {
    width: 100%;
    height: 20vh;
  }

  .poster-download img {
    height: 25vh;
    width: auto;
  }
  .poster-download{
    width: fit-content;
  }
  .two_third_col {
    width: 100%;
  }
}