.overlay_credit {
    text-align: left;
    color: var(--border_grey);
    position: absolute;
    bottom: 0;
    pointer-events: auto;
  }


  @media only screen and (max-width: 900px) {
    .bottom_row {
      display: none !important;
    }

  
  }