.game_overlay {
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow:hidden;
    position: absolute;
  }
  .game_overlay > * {
    pointer-events: none; 
  }
  

  .title {
    pointer-events: auto;
    cursor: pointer;
    user-select: none; 
    text-align: left;
    padding-left: 30px;
    padding-top: 20px
  }


  .title img {
    width: 100%;
    padding-top: 10px;
  }

  .title_selector {
    color: var(--border_grey);
    pointer-events: auto;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 200;
    border-radius: 10px;

  }
  .title_selector:hover {
    color: var(--hover_blue)
  }
  .title:hover h1{
    color: var(--hover_blue);
  }
  
  .title > h1 {
    font-family: "larken", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.5vw;
    margin: 0px;
    padding: 0px;
  }
  .title > h2 {
    text-align: justify;
    margin: 0px;
    font-size: 2vw;
    
    color: black;
  }
  .copyrights {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .copyrights_text {
    font-size: 9pt;
    text-align: left;
  }
  .click_button {
    position: relative;
    z-index: 5;
    width: 100%;
    aspect-ratio : 1 / 1;
    margin: 20px;
    pointer-events: auto; 
    border: 1px solid var(--border_grey);
    border-radius: 100px;
    cursor: pointer;
    transition: all .1s;

  }
  

  .click_button:hover {
    /*background: radial-gradient(#e66465, #9198e5);(/
    */

    /*background-color: var(--hover_blue);*/
    transition: all .1s;
    box-shadow: 0 0 5px 5px var(--hover_blue);

  }
  .button-set {
    position: absolute;
    bottom: 20%;
    height: 30%;
    left: 0%;
    width: 100%;
    padding: 2%;
    text-align: left;
  }


  .credit_title {
    text-align: right;
  }
  .credit_content {
    display: none;
  }
  
  .credits {
    pointer-events: auto;
  }

  .credits:hover .credit_content {
    display: block;
  }

  .table_of_contents {
    text-align: left;
  }

  .content_item {
    cursor: pointer;
    pointer-events: auto;
  }
  .content_item:hover {
    font-weight: 800;
  }



  .slider_container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /*background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));*/
  }

  .start_container {

  }


  .start_caption {
    font-size: 40pt;
    position: absolute;
    line-height: 40pt;
    left: 50%;
    top: 30%;
    text-align: center;
    transform: translate(-50%, -50%);

    width: 60vw;
    font-weight: regular;
    font-family: "larken", sans-serif;

  }

 /* grids */
  .header_grid {
    height: 100%;

  }

  .header_grid_title_container {
    position: relative;
  }
  .header_grid_info_box {
    position: absolute;
    top: 120%;
    width: 100%;
    background-color: white;
    padding: 10px;

  }
  .internal_grid{
    height: 100%
  }

  .header_row {
    height: 10%;
    /*background-color: white;*/
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.428);

  }
  .info_row {
    height: 100%;
  }
  .overlay_grid { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0% !important;
  }

  .start_button {
    font-size: 20pt;
    position: absolute;
    line-height: 40pt;
    left: 50%;
    bottom: 5%;
    width: 40vw;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: auto;
  }
  .start_btn{
    border: solid 1px black ;
    font-size: 20pt ;
    border-radius: 0px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .start_btn:hover {
    background-color: rgb(138, 197, 217);
  }


  .yearCounter h1{
    text-align: left;
    font-size: 20pt;
    color: rgb(172, 172, 172);
    font-weight: 800;
    font-family: "larken", sans-serif;
    user-select: none;
  } 

  .yearCounter .hidden{
    opacity: 0;
    transition: opacity 1.0s 1.0s;

  }

  .yearCounter {
    transition: opacity 1.0s 1.0s;
    opacity: 1;
  }
  .years { 
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }

  .chapter_title {
    font-family: "larken", sans-serif;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2vw;
    line-height: 3.2vw;
    width: 50%;
    opacity:1;
    transition: width 0.3s, height 0.3s, opacity 0.3s 0.3s;
  }

  .side_title {
    left:  70%;
    width: 40%;
  }
  .extra_info_title:hover > .hidden_info_title {
    display: block;
  }
  .extra_info_title:hover {
    color: blue;
  }
  .hidden_info_title {
    color:grey;
    font-size: 20pt;
    position: absolute;
    top: 150%;
    left: 0px;
    display: none;
    line-height: 20pt;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    border: solid 1px black;
    padding: 20px;
    width: 150%;
    transform: translate(-25%, 0);
  }
  .extra_info_title {
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 4pt;
    position: relative;
    pointer-events: auto;

  }
.fadeOut{
     opacity:0;
     width:0;
     transition: width 0.3s 0.3s, height 0.3s 0.3s, opacity 0.3s;

}
.fadeIn{
     opacity:1;
     width:100px;
     height:100px;
     transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}