body {
  margin: 0;
  font-family: "aktiv-grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fill-available;
  height: -webkit-fill-available;
}

#root {
  height: fill-available;
  height: -webkit-fill-available;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas{
}

.App {
  height: fill-available;
  height: -webkit-fill-available;

}

html { 
  height: fill-available;
  height: -webkit-fill-available;

}
.game_container {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px;
}
.vis-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 0;
}
